html * {
    padding: 0;
    margin: 0;
    font-family: Lato;
}

html body {
    background-color: #0087A9;
    text-align: center;
    color: #FFFFFF;
}

#logo {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 350px;
}

body h1 {
    font-family: Lilita One;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;
}

body h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 50px;
}

body h3 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #272727;
}

body p {
    font-size: 1.3rem;
}

#generate-button {
    cursor: pointer;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 2rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease;
    border: 5px solid #FE5F55;
    color: #fff;
}

#generate-button:hover {
    background-color: #FE5F55;
    color: #F7F3E3;
}

#movie-plot {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #FBD01C;
    width: 100%;
}


#loading {
    width: 120px;
    opacity: 0;
}

#cec-logo {
    width: 150px;
}